
.section{
    min-height: 100vh;
    background-color: rgb(188, 224, 223);
    align-content: center;
    padding: 5%;
}

.project{
    min-height: 100vh;
    background-color: rgb(213, 219, 240);
    
    padding: 10%;
    padding-top: 2%;
}

.chart{
    align-content: center;
    padding-left: 15%;
}
.element.style{
    padding-left: 15%;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.image-container {
    margin: 20px;
}

.image {
    max-width: 600px;
    height: auto;
}

.card-img-top{
    max-height: 200px;
    max-width: 350px;
}

.logo{
    min-width: 20px;
    min-height: 30px;
}



.card-logo{
    max-width: 70px;
}



.popover {
    border: none;
    box-shadow: none;
  }
  
  .popover.no-border {
    border: none;
    box-shadow: none;
  }
  .main-logo{
    max-width: 45px;
  }



  .navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #000000 !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000000 !important;
  }


  /* Project.css */

.project-card  {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(119, 185, 180, 0.541); /* Add shadow effect */
  transform-style: preserve-3d; /* Enable 3D transformations */
  transition: transform 0.3s ease; /* Add smooth animation to the transform */
}

.project-card:hover {
  transform: translateY(-5px) rotateX(10deg); /* Apply the 3D animation on hover */
}

.education-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(197, 183, 105, 0.719); /* Add shadow effect */
  transform-style: preserve-3d; /* Enable 3D transformations */
  transition: transform 0.3s ease; /* Add smooth animation to the transform */
}

.education-card:hover {
  transform: translateY(-5px) rotateX(10deg); /* Apply the 3D animation on hover */
}



.contact-card{
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  transform-style: preserve-3d; /* Enable 3D transformations */
  transition: transform 0.3s ease; /* Add smooth animation to the transform */
}

.contact-card:hover {
  transform: translateY(-5px) rotateX(10deg); /* Apply the 3D animation on hover */
}

/* Certificate.css */

.certificate-logo {
  width: 100px; /* Set the desired width for the logo */
  height: 100px; /* Set the desired height for the logo */
  object-fit: contain; /* Adjusts the logo's size while preserving its aspect ratio */
}

/* Home.css */

.download-link {
  text-decoration: none; /* Remove text decoration */
}

.certificate-card{
  border: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(123, 171, 224); /* Add shadow effect */
  transform-style: preserve-3d; /* Enable 3D transformations */
  transition: transform 0.3s ease; /* Add smooth animation to the transform */
}

.certificate-card:hover {
  transform: translateY(-10px) rotateX(10deg); /* Apply the 3D animation on hover */
}