.skills-container {
  padding: 2rem;
  max-width: 1200px; /* Limiting max-width for better alignment on larger screens */
  margin: 0 auto; /* Center container horizontally */
}

.text-center {
  text-align: center;
}

.skills-section {
  margin-bottom: 2rem;
}

.section-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  gap: 1rem;
}

.skills-item {
  text-align: center;
  padding: 0.5rem;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  transition: transform 0.4s, box-shadow 0.6s;
  flex: 1 1 150px; /* Adjust size for better responsiveness */
}

.skills-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-img {
  max-width: 80px;
  max-height: 80px;
  margin-bottom: 0.5rem;
}

.skills-name {
  font-size: 0.9rem;
  color: #333;
}
